<div class="post" style="border: 1px solid darkblue; display: flex; flex-direction: row; margin: 10px; justify-content: space-between;" >
    <div class="userDiv" style="border: 2px solid black; border-radius: 50%; width:50px; height: 50px; text-align: center; vertical-align: middle;
line-height: 50px;">   
        {{author}}
    </div>
    <div class="mesDiv" style="text-align: center; vertical-align: middle; line-height: 50px; width: 70%; text-align: left; overflow: auto;">
        {{text}}
    </div>
    <p class="time" style="justify-self:end; font-size: xx-small; width: 100px;">
        {{timeStamp}}
    </p>
</div>