<!DOCTYPE html>
<html>
  <head>
    <title>students</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
  </head>
  <body>
    <div class="filterDiv">
      <input type="text", id="avInput", placeholder="введите средний балл">
      <input type="text", id="groupInput" placeholder="введите номер группы(Формат: П12345)">
      <button class="searchButton" id="searchButton">найти</button>
    </div>
      <div class="main">
    {{content}}
    </div>
  </body>
</html>
