<div class="container">


    <div class="imgDiv"><img src="userCircle.png" alt="photo"></div>
    <p class="name">{{name}}</p>
    <p class="group">{{group}}</p>
    <ul>
        <li class="gems">{{gems}}</li>
        <li class="coins">{{coins}}</li>
        <li class="tasks">{{tasks}}</li>
    </ul>
    <p class="avGrade">{{avGrade}}</p>
    <p class="age">{{age}}</p>
    <p class="mail">{{mail}}</p>
    <p class="number">{{number}}</p>
    <p class="last">{{last}}</p>
    

</div>